body {
    font-family: system-ui;
    background: black;
    color: white;
}
@media only screen and (max-device-width: 900px) {
    /* .menu { width:100%; } */
}
@media only screen and (max-device-width: 900px) {
    /* .menu { width:600px; } */
}
